<link rel="stylesheet" type="text/css" href="https://www.unpkg.com/diff2html@2.12.1/dist/diff2html.css" />
<script src="https://www.unpkg.com/diff2html@2.12.1/dist/diff2html.js"></script>
<style>    
    .d2h-file-name{cursor: pointer; }
    .d2h-file-list-title button {
        appearance: auto; /* 控制元素的默认外观 */
color: buttontext; /* 设置文本颜色 */
        cursor: pointer; /* 设置鼠标悬停时的光标样式 */
        box-sizing: border-box; /* 定义渲染元素的盒模型 */
        background-color: buttonface; /* 设置背景颜色 */
        margin: 0em; /* 设置外边距 */
        padding-block: 1px; /* 设置垂直方向的内边距 */
        padding-inline: 6px; /* 设置水平方向的内边距 */
        border-width: 1.5px; /* 设置边框宽度 */
        border-style: outset; /* 设置边框样式 */
        border-color: buttonborder; /* 设置边框颜色 */
        border-radius: 3px; /* 设置边框圆角 */
    }
</style>
<div id="report-{{ .Get 0 }}"></div>
<script>
    function toggleAll(expand) {
        [].forEach.call(document.querySelectorAll('a.d2h-file-name'), function(a) {
            if (expand != a.showDiff) toggleDiffDisplay(a);
        });
    }

    function toggleDiffDisplay(a) {
        if (a.showDiff) {
            var div = a.parentNode.parentNode.nextElementSibling;
            div.parentNode.removeChild(div);
            a.showDiff = false;
        }
        else {
            var div = document.createElement("div");
            div.className = "file-diff";
            
            // 根据 outputFormat 来决定使用哪个函数
            if (a.outputFormat === 'side-by-side') {
                div.innerHTML = Diff2Html.getPrettySideBySideHtmlFromJson(a.diffContent, {
                    inputFormat: 'diff',  matching: 'lines',
                    outputFormat: 'side-by-side',
                });
            } else {
                div.innerHTML = Diff2Html.getPrettyHtmlFromJson(a.diffContent, {
                    inputFormat: 'diff', matching: 'lines',
                    outputFormat: 'line-by-line',
                });
            }

            a.parentNode.parentNode.parentNode.insertBefore(div, a.parentNode.parentNode.nextSibling);
            a.showDiff = true;
        }
    }

    function loadDiff(outputFormat, commitId) {
        var reportElementId = 'report-' + commitId;
        var url = 'https://api.github.com/repos/YuanData/allegro-trade/commits/' + commitId;

        fetch(url, {
            headers: {'Accept': 'application/vnd.github.v3.diff'}
        })
        .then(function(response) {
            return response.text();
        })
        .then(function(diffText) {
            var diffFiles = Diff2Html.getJsonFromDiff(diffText);
            
            var diffHtml;
            if (outputFormat === 'side-by-side') {
                diffHtml = Diff2Html.getPrettySideBySideHtmlFromJson(diffFiles, {
                    inputFormat: 'diff', showFiles: true, matching: 'lines',
                    outputFormat: 'side-by-side',
                });
            } else {
                diffHtml = Diff2Html.getPrettyHtmlFromJson(diffFiles, {
                    inputFormat: 'diff', showFiles: true, matching: 'lines',
                    outputFormat: 'line-by-line',
                });
            }

            var startOfWrapper = diffHtml.indexOf('<div class="d2h-wrapper">');
            var endOfWrapper = diffHtml.lastIndexOf('</div>') + 6;
            diffHtml = diffHtml.slice(0, startOfWrapper) + diffHtml.slice(endOfWrapper);

            document.getElementById(reportElementId).innerHTML = diffHtml;
            var title = document.querySelector('.d2h-file-list-title');
            if (title) {
                title.innerHTML = title.innerText +
                    " <button onclick='toggleAll(true)'>Expand All</button>" +
                    " <button onclick='toggleAll(false)'>Collapse All</button>";
            }
            [].forEach.call(document.querySelectorAll('a.d2h-file-name'), function(a, i) {
                a.diffContent = [diffFiles[i]];
                a.removeAttribute("href");
                a.outputFormat = outputFormat;
                a.onclick = function() { toggleDiffDisplay(a); };
            });
        })
        .catch(function(error) {
            console.error('Error fetching the diff: ', error);
        });
    }

    var outputFormat = '{{ .Get 1 }}' === 'L' ? 'line-by-line' : 'side-by-side';
    var commitId = '{{ .Get 0 }}';

    // 确保在 DOM 完全加载后调用 loadDiff
    window.onload = function() {
        loadDiff(outputFormat, commitId);
    };
</script>
